/* #region Debug */

.debug 
{   
    *
    {
    border: 1px dashed;
    }
}



.debug #site_header
{
    height: 70px;
    background-color: palegoldenrod;
}

.debug .nav
{

}

.debug .my_banner
{
    height: 200px;
    background-color: paleturquoise;
}

.debug
{
    .next_class,
    .active_users
    {
        height: 300px;
        background-color: palegoldenrod; 
    }

    .faq,
    .to_do
    {
        height: 150px;
        background-color: palegoldenrod;
    }
}
.debug .my_left_side
{
    height: 1000px;
    background-color: palegreen;
}

.debug .my_right_side
{
    height: 1000px;
    background-color: white;
}

/* #endregion Debug */


/* #region Common */

body
{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
}

main 
{
    overflow-y: auto;
}

.side_nav 
{
    width: 60px;
    height: calc(100% - 70px);
    flex-shrink: 0;

    @media screen and (min-width:1400px)
    {
        width: 150px;
    }
}

ul 
{
    list-style: none;
}

/* #endregion Common */


/* #region Utilities */



/* #endregion Utilities */


/* #region Header */

#site_header
{
    background-color: white;

    form 
    {
        flex-grow: 1;
    }

    .logo_big
    {
        display: none;
        

        @media screen and (min-width:1200px)
        {
            display:block;
        }
    }

    .logo_small
    {
        min-width: 60px;
        
        @media screen and (min-width:1200px)
        {
            display: none;
        }
    }

    form 
    {
        background-color: lightgray;
    }

    input[type=search]
    {
        border: none;
        background-color: lightgray;
    }

    .right_menu
    {

        a 
        {
            font-size: 25px;
        }

        .hide_menu
        {
            display: none;
            a 
            {
                color: #333;
            }
            

            @media screen and (min-width:1200px)
            {
                display: block;
            }
            
        }
        
        .still_menu
        {
            a 
            {
                color: orange;
            } 
        }
    }
}

/* #endregion Header */


/* #region Main */

#site_main
{
   .my_left_side
    {
        background: url(../img/sidebar-bg.png);
        filter: invert();

        a
        {
            font-size: 25px;
        }

        .hide_side
        {
            display: none;

            @media screen and (min-width:1200px)
            {
                display: block;
            }
        }
    }  
}


/* #endregion Main */


/* #region Footer */

/* #endregion Footer */


/* #region MediaQuery */

@media screen and (min-width:768px)
{
    .my_banner
    {
        .d-md-flex
        {
            col-4:first-child
            {
                order: 3;
            }
        }
    }
}

/* #endregion MediaQuery */


/* #region dacapo */

.my_jumbo
{
    @media screen and (min-width:992px)
    {
        display: flex;
    }
}


/* #endregion dacapo */