/* #region Debug */

.debug 
{   
    *
    {
    border: 1px dashed;
    }
}

.debug #site_header
{
    height: 70px;
    background-color: palegoldenrod;
}

/* #endregion Debug */


/* #region Common */

body
{
    font-family: "Roboto", sans-serif;
    height: 100vh;
    overflow: hidden;
}

main 
{
    overflow-y: auto;
}

/* #endregion Common */


/* #region Utilities */



/* #endregion Utilities */


/* #region Header */



/* #endregion Header */


/* #region Main */



/* #endregion Main */


/* #region Footer */

/* #endregion Footer */


/* #region MediaQuery */



/* #endregion MediaQuery */


/* #region dacapo */

#site_header
{

    height: 70px;
    background-color: white;

    form
    {
        flex-grow: 1;
        background-color: lightgray;

        input[type=search]
        {
            border: none;
            background-color: lightgray;
        }
    }


    a
    {
        width: 40px;
    }


}

#site_main
{
    height: calc(100vh - 70px);
}

.side_nav
{
    height: calc(100vh - 70px);
    width: 70px;
    flex-shrink: 0;
    background: url(../img/sidebar-bg.png);
    filter: invert();

    @media screen and (min-width:1400px)
    {
        width: 150px;
    }
}

.my_jumbo
{
    @media screen and (min-width:992px)
    {
        display: flex;
    }
}

/* #endregion dacapo */